// Graphical variables
@import 'config/fonts';
@import 'config/colors';
@import 'config/bootstrap_variables';

// External libraries
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Your CSS partials
@import 'components/index';
@import 'pages/index';

body {
  font-family: Helvetica;
  background-color: #f1f3f8;
}

.List-Inline {
  list-style: none;
  padding: 0;
}
// @import "card";
// @import "nav_secondary";
// @import "nav_primary";
// @import "denizen_home";
// @import "denizen_quotes";
// @import "denizen_report";
// @import "denizen_resources";
// @import "landing_page";

// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

// // #root {
// //   height: 100vh;
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// // }

// .participant-list {
//   display: flex;
//   flex-wrap: wrap;
//   list-style: none;
//   justify-content: space-between;
// }

// .participant-item {
//   flex: 50% 0 0;
//   color: white;
//   cursor: pointer;
//   margin-left: 20px;
//   margin-bottom: 24px;
//   width: 150px;
//   height: 143px;
//   border-radius: 6px;
//   padding: 10px;
//   border-radius: 6px;
//   background: linear-gradient(
//       180deg,
//       rgba(196, 196, 196, 0) 0%,
//       rgba(20, 54, 92, 0.56) 100%
//     ),
//     url('../images/participant.jpeg'), #c4c4c4;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   vertical-align: text-bottom;
//   position: relative;
// }

// .participant-item-img {
//   position: absolute;
//   bottom: 5%;
//   left: 4.03;
// }
// .participant-item-name {
//   font-family: 'Montserrat', sans-serif;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 20px;
//   display: flex;
//   align-items: center;
//   color: #ffffff;
// }
// .participant-item-designer {
//   // color: salmon;
//   // vertical-align: text-bottom;
//   font-family: 'Roboto', sans-serif;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 13px;
//   line-height: 15px;
//   display: flex;
//   align-items: center;
//   color: #ffffff;
// }

// .participant-show-img {
//   width: 303.06px;
//   height: 260px;
//   box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);
//   border-radius: 6px;
//   background: linear-gradient(
//       180deg,
//       rgba(196, 196, 196, 0) 0%,
//       rgba(20, 54, 92, 0.56) 100%
//     ),
//     url('https://s3-alpha-sig.figma.com/img/f5af/d022/a6172e4a22f5b284a8898f11c5877e62?Expires=1607299200&Signature=Giwm96H7PTzF7iEhkVnl8IFyxeTVzKPuY63-MqLAOq65pPtO13kcn7oIc9H4bTZnDC8tibuqcs2Q4bxRM~nAjKjuEwhpTvSvvG-c07EVJ3YfxfHGGyb5xv6v4zAx65mM6JRcV1LDP7Oo3DfCcYx72cnJy-rVuaP0YKTFRm9sCtd5q89sfZOZ7IshSaxRrNXSPiqCxmYitRja7~aupiI0BH4x6Wj8t5rQsSyNoaGZNfbhuqBn3wUm6C9a6oSjF-6WQEB1ntPcOzpY5BIKHuYU5gE1RDixiTw-Tep7FekmtfuzAYEPNv9aJz1D~c-WQCxmUbswqJ8U9amOTwKLbHSRzA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'),
//     #c4c4c4;
//   border-radius: 6px;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   margin: auto;
//   display: block;
//   text-decoration: none !important;
// }

// // . {
// // }

// .back-btn {
//   background-color: #eaedf3 !important;
//   width: 102px !important;
//   height: 40px !important;
//   border-radius: 29px !important;
// }

// .back-btn-text {
//   color: #4f4f4f !important;
// }

// .database-card {
//   background-color: #ffffff;

//   margin-bottom: 10px;
//   display: flex;
//   justify-content: center; /* align horizontal */
//   align-items: center; /* align vertical */
//   border-radius: 2px;
//   height: 39px;
// }

// .designer-city-menu {
//   list-style: none;
//   padding: 0;
//   display: inline-block;
// }

// .designer-city-menu > li {
//   margin: 5px;
//   height: 54px;
//   width: 54px;
//   line-height: 54px;
//   text-align: center;
//   border-radius: 50%;
//   display: inline-block;
//   cursor: pointer;
//   color: #6b7390;
//   border: 1px solid #6b7390;
// }
// .designer-city-item.selected {
//   background-color: #6b7390;
//   color: white;

//   //   display: flex;
//   //   justify-content: center; /* align horizontal */
//   //   align-items: center;
// }

// // .card-text {
// //   // display: flex;
// //   // justify-content: center; /* align horizontal */
// //   // align-items: center;
// // }

// #root {
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.participant-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.participant-item {
  flex: 50% 0 0;
  color: white;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 24px;
  width: 150px;
  height: 143px;
  border-radius: 6px;
  padding: 10px;
  border-radius: 6px;
  background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(20, 54, 92, 0.56) 100%
    ),
    url('../images/participant.jpeg'), #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: text-bottom;
  position: relative;
}

.participant-item-img {
  position: absolute;
  bottom: 5%;
  left: 4.03;
}
.participant-item-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.participant-item-designer {
  // color: salmon;
  // vertical-align: text-bottom;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.participant-show-img {
  width: 303.06px;
  height: 260px;
  box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);
  border-radius: 6px;
  background: linear-gradient(
      180deg,
      rgba(196, 196, 196, 0) 0%,
      rgba(20, 54, 92, 0.56) 100%
    ),
    url('../images/participant.jpeg'), #c4c4c4;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: block;
  text-decoration: none !important;
}

.participant-show .name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  /* black */

  color: #2a2e33;
}

.participant-show .designer-type {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* secondary */

  color: #5a6795;
}

.participant-show .bio {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  white-space: pre-line;
  /* or 156% */

  /* black */

  color: #2a2e33;

  // /* Inside Auto Layout */

  // flex: none;
  // order: 0;
  // flex-grow: 0;
}

.back-btn {
  background-color: #eaedf3 !important;
  width: 102px !important;
  height: 40px !important;
  border-radius: 29px !important;
}

.back-btn-text {
  color: #4f4f4f !important;
}

.database-card {
  background-color: #ffffff;

  margin-bottom: 10px;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  border-radius: 2px;
  height: 39px;
}

.designer-city-menu {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.designer-city-menu > li {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.designer-city-item > a {
  margin: 5px;
  height: 54px;
  width: 54px;
  line-height: 54px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  color: #6b7390;
  border: 1px solid #6b7390;
}

.designer-city-item > a.active {
  background-color: #6b7390;
  color: white;
}

.designer-database-col-headers {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* secondary */

  color: #5a6795;
}

.database-card .card-name {
  // color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* black */

  color: #2a2e33;
}
// .card-text {
//   // display: flex;
//   // justify-content: center; /* align horizontal */
//   // align-items: center;
// }

@import '../../javascript/assets/stylesheets/nav_secondary';
@import '../../javascript/assets/stylesheets/nav_primary';
@import '../../javascript/assets/stylesheets/denizen_home';
@import '../../javascript/assets/stylesheets/denizen_quotes';
@import '../../javascript/assets/stylesheets/denizen_report';
@import '../../javascript/assets/stylesheets/denizen_resources';
@import '../../javascript/assets/stylesheets/landing_page';
@import '../../javascript/assets/stylesheets/application.scss';
