// Graphical variables
@import 'config/fonts';
@import 'config/colors';
@import 'config/bootstrap_variables';

// External libraries
@import 'bootstrap/scss/bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Your CSS partials
@import 'components/index';
@import 'pages/index';

html,
body,
#root,
.App {
  font-family: Helvetica;
  background-color: #f1f3f8;
  height: 100%;
  margin: 0;
  background-image: url('https://res.cloudinary.com/dyy8g76av/image/upload/v1615826819/Denizen%20Designer%20%28Temp%29/bg-repeat-full_buobfv.svg');
  background-repeat: repeat;
  // opacity: 0.75;
}

.container-fluid {
  // background-color: green;
  max-width: 80.188rem;
}

.List-Inline {
  list-style: none;
  padding: 0;
}
// @import "card";
// @import "nav_secondary";
// @import "nav_primary";
// @import "denizen_home";
// @import "denizen_quotes";
// @import "denizen_report";
// @import "denizen_resources";
// @import "landing_page";

// IMPORT FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

// // #root {
// //   height: 100vh;
// //   display: flex;
// //   align-items: center;
// //   justify-content: center;
// // }

// .participant-list {
//   display: flex;
//   flex-wrap: wrap;
//   list-style: none;
//   justify-content: space-between;
// }

// .participant-item {
//   flex: 50% 0 0;
//   color: white;
//   cursor: pointer;
//   margin-left: 20px;
//   margin-bottom: 24px;
//   width: 150px;
//   height: 143px;
//   border-radius: 6px;
//   padding: 10px;
//   border-radius: 6px;
//   background: linear-gradient(
//       180deg,
//       rgba(196, 196, 196, 0) 0%,
//       rgba(20, 54, 92, 0.56) 100%
//     ),
//     url('../images/participant.jpeg'), #c4c4c4;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   vertical-align: text-bottom;
//   position: relative;
// }

// .participant-item-img {
//   position: absolute;
//   bottom: 5%;
//   left: 4.03;
// }
// .participant-item-name {
//   font-family: 'Montserrat', sans-serif;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 20px;
//   display: flex;
//   align-items: center;
//   color: #ffffff;
// }
// .participant-item-designer {
//   // color: salmon;
//   // vertical-align: text-bottom;
//   font-family: 'Roboto', sans-serif;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 13px;
//   line-height: 15px;
//   display: flex;
//   align-items: center;
//   color: #ffffff;
// }

// .participant-show-img {
//   width: 303.06px;
//   height: 260px;
//   box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);
//   border-radius: 6px;
//   background: linear-gradient(
//       180deg,
//       rgba(196, 196, 196, 0) 0%,
//       rgba(20, 54, 92, 0.56) 100%
//     ),
//     url('https://s3-alpha-sig.figma.com/img/f5af/d022/a6172e4a22f5b284a8898f11c5877e62?Expires=1607299200&Signature=Giwm96H7PTzF7iEhkVnl8IFyxeTVzKPuY63-MqLAOq65pPtO13kcn7oIc9H4bTZnDC8tibuqcs2Q4bxRM~nAjKjuEwhpTvSvvG-c07EVJ3YfxfHGGyb5xv6v4zAx65mM6JRcV1LDP7Oo3DfCcYx72cnJy-rVuaP0YKTFRm9sCtd5q89sfZOZ7IshSaxRrNXSPiqCxmYitRja7~aupiI0BH4x6Wj8t5rQsSyNoaGZNfbhuqBn3wUm6C9a6oSjF-6WQEB1ntPcOzpY5BIKHuYU5gE1RDixiTw-Tep7FekmtfuzAYEPNv9aJz1D~c-WQCxmUbswqJ8U9amOTwKLbHSRzA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA'),
//     #c4c4c4;
//   border-radius: 6px;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
//   margin: auto;
//   display: block;
//   text-decoration: none !important;
// }

// // . {
// // }

// .back-btn {
//   background-color: #eaedf3 !important;
//   width: 102px !important;
//   height: 40px !important;
//   border-radius: 29px !important;
// }

// .back-btn-text {
//   color: #4f4f4f !important;
// }

// .database-card {
//   background-color: #ffffff;

//   margin-bottom: 10px;
//   display: flex;
//   justify-content: center; /* align horizontal */
//   align-items: center; /* align vertical */
//   border-radius: 2px;
//   height: 39px;
// }

// .designer-city-menu {
//   list-style: none;
//   padding: 0;
//   display: inline-block;
// }

// .designer-city-menu > li {
//   margin: 5px;
//   height: 54px;
//   width: 54px;
//   line-height: 54px;
//   text-align: center;
//   border-radius: 50%;
//   display: inline-block;
//   cursor: pointer;
//   color: #6b7390;
//   border: 1px solid #6b7390;
// }
// .designer-city-item.selected {
//   background-color: #6b7390;
//   color: white;

//   //   display: flex;
//   //   justify-content: center; /* align horizontal */
//   //   align-items: center;
// }

// // .card-text {
// //   // display: flex;
// //   // justify-content: center; /* align horizontal */
// //   // align-items: center;
// // }

// #root {
//   height: 100vh;
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

.participant-list {
  // display: flex;
  // flex-wrap: wrap;
  // list-style: none;
  justify-content: space-between;
  // justify-content: space-around;
}

.participant-item {
  flex: 50% 0 0;
  color: white;
  cursor: pointer;
  max-width: 15.241rem;
  min-height: 8.938rem;
  // padding: 10px;
  border-radius: 6px;
  // background: linear-gradient(179.91deg, #475ca7 0.08%, #113f83 69.55%),
  //   url('https://res.cloudinary.com/dyy8g76av/image/upload/v1611545967/Denizen%20Designer%20%28Temp%29/participant_tjkgwb.jpg');
  // background-blend-mode: screen;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  vertical-align: text-bottom;

  border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  text-align: bottom;
  position: relative;
}

.participant-item-img-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // display: none;
  flex: 50% 0 0;
  color: white;
  cursor: pointer;
  max-width: 15.241rem;
  min-height: 8.938rem;
  // padding: 10px;
  border-radius: 6px;
  background: linear-gradient(
    transparent,
    179.91deg,
    #475ca7 0.08%,
    #113f83 69.55%
  ) !important;
  // url('https://res.cloudinary.com/dyy8g76av/image/upload/v1611545967/Denizen%20Designer%20%28Temp%29/participant_tjkgwb.jpg');
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // vertical-align: text-bottom;

  // border: 4px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px;
  // opacity: 0.8;

  // text-align: bottom;
  object-fit: cover;
  object-position: center center;
}

.participant-item.card {
  position: relative;
  // margin: 10px;
}

.participant-item-img {
  position: absolute;
  bottom: 5%;
  left: 4.03;
}

.cardBodyInterview.card-body {
  height: 100%;
  // padding: 10rem;
  // vertical-align: text-bottom;
}

.participant-item-img1 {
  // maxWidth: '15.241rem', maxHeight: '8.938rem'
  background-blend-mode: screen;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.participant-item-name {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.participant-item-designer {
  // color: salmon;
  vertical-align: text-bottom;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.participant-show-img {
  min-width: 303.06px;
  height: 260px;
  box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);
  border-radius: 6px;
  background: linear-gradient(
      179.91deg,
      rgba(71, 92, 167, 0.67) 0.08%,
      rgba(17, 63, 131, 0.67) 69.55%
    ),
    url('https://res.cloudinary.com/dyy8g76av/image/upload/v1611545967/Denizen%20Designer%20%28Temp%29/participant_tjkgwb.jpg');

  background-blend-mode: screen;
  border-radius: 6px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  display: block;
  border: 4px solid #ffffff;
  box-sizing: border-box;
  text-decoration: none !important;
  object-fit: cover;
  object-position: center center;
}

.participant-show .name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  display: flex;
  align-items: center;
  /* black */

  color: #2a2e33;
}

.participant-show .designer-type {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  /* secondary */

  color: #5a6795;
}

.participant-show .bio {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  white-space: pre-line;
  /* or 156% */

  /* black */

  color: #2a2e33;

  // /* Inside Auto Layout */

  // flex: none;
  // order: 0;
  // flex-grow: 0;
}

.back-btn {
  background-color: #eaedf3 !important;
  width: 102px !important;
  height: 40px !important;
  border-radius: 29px !important;
}

.fa.fa-chevron-left {
  color: #4f4f4f !important;
}

.back-btn-text {
  color: #4f4f4f !important;
  font-family: Roboto !important;
  font-style: normal !important ;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 16px !important;
}

.participate-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 8px;
  color: red;
  width: 126px;
  height: 28px;
  /* Primary */

  border: 1px solid #475ca7;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  align-items: center; /* align vertical */

  /* Primary */

  color: #475ca7;

  /* Inside Auto Layout */

  flex: none;
  order: 1;
  flex-grow: 0;
  // margin: 0px 8px;
}

.participate-btn-text {
  height: 100%;

  align-items: center; /* align vertical */
}

.participate-btn:hover {
  text-decoration: none;
  /* Primary */

  color: #475ca7;
}

.designer-city-banner {
  // background: url('https://res.cloudinary.com/dyy8g76av/image/upload/v1612154128/Denizen%20Designer%20%28Temp%29/database-city-banner-background_xf7z8f.svg');
  // width: 100%;
  height: 66px;
  background: #475ca7;
  border-radius: 4px;
  align-items: center; /* align vertical */
  // background-color: red !important;
  // color: red !important;
}

// #bannerContainer {
//   color: red;
//   background-color: #ffffff;

//   margin-bottom: 10px;
//   display: flex;
//   // justify-content: center; /* align horizontal */
//   align-items: center; /* align vertical */
//   border-radius: 2px;
//   height: 39px;
//   // height: 500px;
// }

.designer-city-banner #dropdown-basic {
  margin: auto;
  // color: red !important;
  // background-color: blue !important;
  // vertical-align: middle !important;
}

.designer-city-banner #dropdown-basic:hover {
  // margin: auto;
  // color: red !important;
  // opacity: 0.5;
  // color: white;
  // background-color: blue !important;
  // vertical-align: middle !important;
}

.cities-banner-graphic {
  // background-color: red;
  height: 100%;
  // vertical-align: text-bottom;
  // align-items: bottom !important;
  align-items: center;
  // background-color: red;
  position: relative;
}

.cities-banner-graphic-img {
  // background-color: red;
  position: absolute;
  bottom: 0;
  // left: 0;
  right: 0;
  padding-right: 4px;
}
.designer-city-menu {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.designer-city-menu > li {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.designer-city-item > a {
  margin: 5px;
  height: 54px;
  width: 54px;
  line-height: 54px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  color: #6b7390;
  border: 1px solid #6b7390;
}

.designer-city-item > a.active {
  background-color: #6b7390;
  color: white;
}

@import '../../javascript/assets/stylesheets/nav_secondary';
@import '../../javascript/assets/stylesheets/nav_primary';
@import '../../javascript/assets/stylesheets/denizen_home';
@import '../../javascript/assets/stylesheets/denizen_quotes';
@import '../../javascript/assets/stylesheets/denizen_report';
@import '../../javascript/assets/stylesheets/denizen_resources';
@import '../../javascript/assets/stylesheets/landing_page';
@import '../../javascript/assets/stylesheets/timeline.scss';
@import '../../javascript/assets/stylesheets/_denizen_interviews';
@import '../../javascript/assets/stylesheets/_denizen_desiegner_database';
@import '../../javascript/assets/stylesheets/_denizen_desiegner_participants_show';
