.database-card {
  border-radius: 2px;
  min-height: 39px;
}

.designer-database .participant-name {
  border-bottom: 1px solid #bcc5d2;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 159%;
  /* or 22px */

  /* infographic primary */

  color: #08439a;
}

.designer-database .role {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 159%;
  /* identical to box height, or 19px */

  /* black */

  color: #2a2e33;
}

.designer-database .data-list {
  list-style: none;
}

.designer-database .data-list > li {
  display: inline-block;
  color: red;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* black */

  color: #2a2e33;
}

.database-card .card-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  display: flex;
  align-items: center;

  /* black */

  color: #2a2e33;
}

.database-card .card-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  display: flex;
  align-items: center;

  /* black */
  color: #2a2e33;
}
