.resourcesPage .resourceCard.card1 {
  background: url('https://res.cloudinary.com/dyy8g76av/image/upload/v1613443433/Denizen%20Designer%20%28Temp%29/resourcesImage1_y6yyqq.png');
  min-height: 11.25rem;
  border-radius: 4px;
}

.resourceCard .title {
  // display: block;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 159%;
  /* or 22px */

  text-transform: uppercase;

  /* BATON YELLOW */

  color: #ffd600;
}

.resourceCard .bodyText {
  // display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 145%;
  /* or 17px */

  letter-spacing: 0.01em;

  /* Gray 5 */

  color: #ffffff;
}

.resourceCard .cardLink {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 0.75rem;
  line-height: 159%;
  /* identical to box height, or 19px */

  letter-spacing: 0.02em;
  text-decoration-line: underline;

  /* BATON YELLOW */

  color: #ffd600;
}

.resourceCard .cardLink:hover {
  color: #f3cb02;
}

@media (max-width: 768px) {
  .resourceCard .title {
    // display: inline-block;
    max-width: 14.813 rem;
    // max-width: 10px;
    word-wrap: break-word;
  }
}

// .resources-headers {
//   font-family: Roboto;
//   font-style: normal;s
//   font-weight: normal;
//   font-size: 16px;
//   line-height: 19px;
//   display: flex;
//   align-items: center;
//   color: #2a2e33;
//   margin-left: 10px;
//   margin-top: 30px;
// }

// .resource-btm-border {
//   opacity: 0.33;
//   border-bottom: 1px solid #5a6795;
// }

// .article-card {
//   width: 250px;
//   height: 225px;
//   // margin: 28px 0px;
//   // background-color: red;
//   border-radius: 8px 8px 8px 8px;
//   position: relative;
// }

// .article-card-img {
//   // background-image: url("../images/report-img-1.svg");
//   // background: url("../images/report-img-1.svg");
//   width: 100%;
//   height: 100%;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-position: center;
// }

// .article-card-body {
//   border-radius: 0px 0px 8px 8px;
//   background-color: #ffffff;
//   position: absolute;

//   bottom: 0;
//   left: 0;
//   height: 67px;
//   width: 100%;
// }

// .article-card-title {
//   position: absolute;
//   top: 7px;
//   left: 14px;
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 20px;
//   display: flex;
//   align-items: center;
//   color: #2a2e33;
// }

// .article-link-icon {
//   position: absolute;
//   right: 74%;
//   top: 9.27%;
// }

// .article-card-author {
//   position: absolute;
//   left: 14px;
//   bottom: 6.85%;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 12px;
//   line-height: 14px;
//   display: flex;
//   align-items: center;
//   text-transform: uppercase;

//   /* secondary */

//   color: #5a6795;
// }

// .publication-card {
//   width: 298px;
//   height: 150px;
//   background: #ffffff;
//   border-radius: 8px;
//   margin: 29px 0px;
// }
// .publication-card-body {
//   // background-color: salmon;
//   height: 100%;
//   width: 100%;
//   border-radius: 8px;
//   // padding: 10px 50px;
//   position: relative;
// }

// .publication-card-title-row {
//   // background-color: red;
//   width: 100%;
//   margin: 0 auto;
//   position: absolute;
//   top: 32%;
//   left: 0;
// }
// .publication-card-title {
//   // background-color: pink;
//   // height: 100%;
//   // width: 100%;
//   font-family: Montserrat;
//   font-style: normal;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 22px;
//   /* or 157% */

//   /* black */

//   color: #2a2e33;
// }
// .publication-card-auth-row {
//   // background-color: red;
//   // width: 100%;
//   padding-left: 13px;
//   margin: 0 auto;
//   position: absolute;
//   bottom: 0;
//   left: 0;
// }
// .publication-card-author {
//   // background-color: green;
//   // height: 100%;
//   // width: 100%;
//   background: #f1f3f8;
//   border-radius: 4px;
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: normal;
//   font-size: 12px;
//   line-height: 14px;
//   /* identical to box height */
//   padding: 6px;
//   display: flex;
//   align-items: center;
//   text-transform: uppercase;
//   margin-right: 13px;

//   /* secondary */

//   color: #5a6795;
// }
