// .report-section-navigation {
//   background-color: red !important;
// }

.test123 {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Montserrat", sans-serif; 
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  color: #2a2e33;
  // text-decoration-line: underline;
}

.test123 > li {
  // margin: 14px 0px;  
  margin-bottom: 14px;
  cursor: pointer;
  // display: flex;
  // align-items: center;
  
}

.test123 .selected {
  cursor: pointer;
  color: #475ca7;
}

.report-li {
  text-decoration-line: underline;
}

.reportDownloadButton a{
  border: 1px solid #08439A;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  /* infographic primary */

  color: #08439A;
  // color: red;

  text-transform: uppercase;
  text-decoration-line: none;
}

.reportDownloadButton a {
 
}


.report-container {
  background-color: #ffffff;
  box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);
  border-radius: 4px;
  padding: 25px 54px 42px 54px !important;
  align-items: center !important;
  position: relative;
  height: 80vh;
  // height: 400px;
  overflow: scroll;
  // margin-bottom: 100px;
}
::-webkit-scrollbar.report-container {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.report-col-2{
  // background-color: red;
  // padding-right: 0px;
  // white-space: nowrap;
}

.nowrap {
  // white-space: nowrap;
}

.report-col-9{

}

.report-container h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 141.69%;
  /* identical to box height, or 26px */
  
  letter-spacing: 0.01em;
  
  /* Primary */
  
  color: #475CA7;
}

.report-container h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  
  
  /* Primary */
  
  color: #475CA7;
  margin-bottom: 15px;
}

.trElement{
  padding-bottom: 44px;
}

.report-container p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 141.69%;
  /* or 20px */
  letter-spacing: 0.01em;

  /* black */
  color: #2a2e33;
}

.report-img {
  text-align: center;
  margin: 30px 0px;
}
.chart-styling-outer-div{
  // width:100%;
  // max-height: 50%;
 
  justify-content: center !important; /* align horizontal */
  // display: flex !important;
  // background-color: green;
}

.chart-styling{
  // background-color: red;
  // max-width: 650px;
  max-height:600px;
}

.canvas-container{
  max-height: 40vh;
  // max-height: 100%;
  // max-width: 650px;
  // height: 100%;
  // justify-content: center !important; /* align horizontal */
  // display: flex !important;
//   align-items: center; /* align vertical */
  // max-width: 40vh;
  // height: relative;
  // background-color: green;
  margin-bottom: 16px;
}

.fillerTab{
  height: 40vh;
  // background-color: red;
  // border: 1px solid #BDBDBD;
  // margin: 0px;
}

.report-chart-category{
  // list-style: none;
  // display: inline-block;
  // justify-content: space-around;
  // padding:10px 1%;
  margin-left: 10px;
  // height: 42px;
  /* Gray 4 */

  // border: 1px solid #BDBDBD;
  // box-sizing: border-box;
  // border-radius: 4px;
}
// ul#menuItems li:first-child{padding-left:0;}
// ul#menuItems li:last-child{padding-right:0;}

.report-chart-category a.nav-link{
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 4px;
  color: #BDBDBD;
}
.report-chart-category a.nav-link.active{
  background: rgba(0, 0, 0, 0);
  color: #08439A;
  border: 1px solid #08439A;  
}

.report-chart-category:first-child{
  // margin-left:0;
}

.report-chart-card{
  background: rgba(133, 147, 168, 0.06);
  border: 0;
  // min-height: 202px;
  
}
.report-chart-text{
  min-height: 202px;
}

.report-chart-text .title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */


  /* black */
  color: #2A2E33;
}

.report-chart-text .text-body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 141.69%;

  /* or 20px */
  letter-spacing: 0.01em;

  /* black */
  color: #2A2E33 !important;
}
.nested li {
  display: block;
  position: relative;
}


.nested {
  margin-bottom: 0;
  counter-reset: number;
}


.parent .nested {
  counter-reset: letter;
}

.parent .nested li::before {
  content: counter(number) "." counter(letter, lower-alpha);
  counter-increment: letter;
  background: lightblue
}


.nested li::before {
  content: counter(number) ".";
  counter-increment: number;
  position: absolute;
  margin-right: 100%;
  right: 10px;
  background: lightgreen
}

.report-quote{
  background: rgba(241, 243, 248, 0.35);
  border: none !important;
}

.report-quote .quote-text{
  // color: red;
  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: 800 !important;
  font-size: 16px !important;
  line-height: 214.7% !important;
  /* or 34px */

  letter-spacing: 0.01em !important;

  /* infographic primary */

  color: #08439A !important;
  margin: 0px 10px;
}

.report-quote .quote-author{
  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: normal;
  font-size: 12px !important;
  line-height: 214.7% !important;
  /* or 34px */

  letter-spacing: 0.01em !important;

  /* infographic primary */

  color: #08439A !important;
  margin: 0px 10px;
}

.reportChartGraphModule{
  // background-color: red;
  // min-height: 350px;
  height: 356px;
}