.interviewsBanner {
  background: linear-gradient(0deg, rgba(69, 85, 142, 0), rgba(69, 85, 142, 0)),
    url('https://res.cloudinary.com/dyy8g76av/image/upload/v1612139634/Denizen%20Designer%20%28Temp%29/interviews-banner-background_ew68gg.png');
  // background: linear-gradient(0deg, rgba(69, 85, 142, 0.95), rgba(69, 85, 142, 0.95)), url('https://res.cloudinary.com/dyy8g76av/image/upload/v1612139634/Denizen%20Designer%20%28Temp%29/interviews-banner-background_ew68gg.png');
  border-radius: 6px;
  // width: 1284px;
  min-height: 11.75rem;
}

.interviewsBanner h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2.75rem;
  line-height: 106.4%;
  // padding-top: 23px;
  // padding-left: 81px;
  max-width: 19.438rem;

  /* or 47px */

  text-transform: uppercase;

  /* Gray 5 */

  color: #ffffff;
}

.interviewsBanner span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem !important;
  line-height: 159%;
  // padding-top: 31px;
  // flex-wrap: wrap;
  word-wrap: break-word;
  // font-size: 2.5vw;

  letter-spacing: 0.02em;

  /* background */

  color: #f1f3f8;
}

.cardImageOverlay{
  position: absolute;
  bottom: 0;
  left: 0;
}