.quote-filter-menu {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.quote-filter-menu > li {
  text-decoration: none;
  margin: 10px 0px 10px 0px;
  // padding-right: 35px;
  text-align: center;
  display: inline-block;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 153.4%;
  align-items: center;
  color: #6b7390;
  cursor: pointer;
}

// .quote-filter-menu > li a {
.quote-filter-menu a {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 153.4%;
  align-items: center;
  color: #6b7390;
  cursor: pointer;
  // background-color: red;

  padding: 6px 18px;
  border-radius: 20px;
}

.quote-filter-item a.active {
  color: #f0f0f0;
  padding: 6px 18px;
  background-color: #475ca7;
  border-radius: 20px;
  transition: 1s;
}

.quotes-expand-btn{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 153.4%;
  /* or 21px */

  display: flex;
  // align-items: center;

  /* Primary */

  color: #475CA7;
  }

  .quotes-expand-btn:hover {
    text-decoration: none !important;  
    color: #475CA7;
  }

.quote-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
}

.denizen-quote-card {
  // width: 340px;
  cursor: pointer;
  margin-bottom: 25px !important;
  // margin-left: 25px !important;
  border: none;
  border-radius: 6px !important;
}

.denizen-quote-body {
  padding: 25px !important;

  
  /* or 27px */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  /* or 27px */
  background-color: #ffffff;
  box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);
  border-radius: 6px;
  // width: 340px;
  // min-height: 223px;
}

.denizen-quote-author {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: Roboto;
  display: flex;
  align-items: center;

  /* secondary */

  color: #5a6795da;

  margin: 14px 0px 0px 10px;
}

a.denizen-quote-author:hover {
  color: #2dba90;
  text-decoration: none !important;
}

.quote-item {
}

.quote-modal .modal-content {
  border-radius: 12px;
}

.quote-modal .close-button {
  background: #ffffff;
  // width: 55px;
  // height: 31px;
  border: 1px solid #8593a8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #8593a8;
}

.quote-modal .close-button:hover {
  background-color: #475ca7;
  // background-color: #475ca7;
  color: #ffffff;
  text-decoration: none;
}

.quote-modal .close-button:focus,
.close-button:active {
  background-color: #3a4d8f !important;
  color: #ffffff !important;
}

.quote-modal .modal-quote-body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 150%;
  /* or 39px */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;

  /* black */

  color: #2a2e33;
}

.quote-modal .modal-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 159%;
  /* or 22px */

  text-align: center;
  border-bottom: 1px solid #bcc5d2;

  /* infographic primary */

  color: #08439a;
}

a.modal-name:hover {
  color: #2dba90;
  text-decoration: none !important;
}

.quote-modal .modal-role {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 159%;
  text-align: center;
  /* identical to box height, or 19px */

  /* secondary */

  color: #8593a8;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  margin-bottom: 30px;
}

.pagination-nav {
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}



@media (max-width: 576px) {
  .quote-modal .modal-quote-body {
    // color: red;
    font-size: 18px;
  }
}
