.landing-pg {
  // display: flex;
  height: 100vh;
}
.logo-landing-pg {
  
}

.landing-pg a {
  text-decoration: none !important;
}

.wrapper {
  height:100%;
  margin-bottom: -80px;
}

.btn-landing-pg {
  min-height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  /* Gray 5 */
  color: #ffffff !important;
  margin: 10px 40px;
  cursor: pointer;
}

.landing-btn{
  color: #ffffff !important;
  background-color: #475ca7 ;
  border-radius: 8px;
  font-family: Roboto;
  min-height: 3.75rem;
}

.landing-btn:hover{
  background-color: #3a4d8f ;
  text-decoration: none !important;
}

.landing-btn:focus, .landing-btn:active{
  background-color: #3a4d8f !important;
  // text-decoration: none !important;
  // outline: none !important;
  // box-shadow: none !important;
}

.footer-landing-pg {
  align-items: center;
  min-height: 60px;
  background: #ffffff;
  border-radius: 7px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25rem;
  text-align: center;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  overflow: visible;
  padding: 0.625;
  font-size: 0.75rem;
  box-sizing: border;
  color: #475ca7;
}
