.Nav-Secondary {
  display: inline;
  // border-bottom: 1px solid #bcc5d2;
  // border-bottom: 10px solid red;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.nav-secondaryy {
  line-height: 19px;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center;
  // padding-top: 88px;
}

.nav-secondaryy > ul {
  // background-color: red;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center;
  margin-bottom: 0px;
  // border-bottom: 1px solid #bcc5d2;
}

.list-inline-nav-sec {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.list-inline-nav-sec > li {
  display: inline;
  margin: 10px 20px 10px 0px;
}

.denizen-tab {
  color: #8593a8;
  
}
.denizen-tab:hover {
  // color: #8593a8;
  color: #2dba90;
  text-decoration: none;
}

.denizen-tab.active {
  color: #475CA7;
  background-color: rgba(0,0,0,0) !important;
  box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}
// Nav-Secondary,List-Inline

@media (max-width: 576px) {
  .denizen-tab:hover {
    color: #8593a8;
    
  }
  
}

