.nav-primary {
  // display: inline;
  // background-color: red;
  // border-bottom: 1px solid #bcc5d2;
}

.nav-primary-text {
  color: #8593a8 !important;
  padding: 12px 10px;
  align-items: center;
  margin: 14px 0px;
  margin-left: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}
.List-Inline {
  list-style: none;
  padding: 0;
}

.List-Inline > li {
  display: inline;
  margin: 10px;
}
// Nav-Secondary,List-Inline

.nav-primary .active {
  background-color: #ffffff;
  box-shadow: 0px 13px 28px rgba(0, 39, 92, 0.08);
  border-radius: 4px;
  color: #475CA7 !important;
}

.fixed-navbar {
  background-color: #f1f3f8;
  background-image: url('https://res.cloudinary.com/dyy8g76av/image/upload/v1615826819/Denizen%20Designer%20%28Temp%29/bg-repeat-full_buobfv.svg');
  background-repeat: repeat;
}
