.Nav-Primary {
  // display: inline;
  // background-color: red;
  border-bottom: 1px solid #bcc5d2;
}

.nav-primary-text {
  color: #8593a8 !important;
}
.List-Inline {
  list-style: none;
  padding: 0;
}

.List-Inline > li {
  display: inline;
  margin: 10px;
}
// Nav-Secondary,List-Inline
