.Nav-Secondary {
  display: inline;
  // border-bottom: 1px solid #bcc5d2;
  border-bottom: 10px solid red;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}
.nav-secondaryy {
  line-height: 19px;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center;
}

.nav-secondaryy > ul {
  // background-color: red;
  display: flex;
  justify-content: left; /* align horizontal */
  align-items: center;
  // border-bottom: 1px solid #bcc5d2;
}

.List-Inline {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.List-Inline > li {
  display: inline;
  margin: 10px;
}

.denizen-tab {
  // color: #8593a8;
  color: #8593a8;
}
.denizen-tab:hover {
  // color: #8593a8;
  color: #8593a8;
  text-decoration: none;
}

.denizen-tab.active {
  // color: #8593a8;
  color: #45558e;
}
// Nav-Secondary,List-Inline
